.container {
  border-radius: 4px;
  width: 80%;

  form {
    label {
      font-weight: bold;
      font-size: 14px;
      color: #444444;
      text-transform: uppercase;
      margin-bottom: 8px;
      display: flex;
    }

    input {
      padding: 5px;
      height: 45px;
      margin-bottom: 15px;
    }

    button {
      height: 45px;
      background: #ee4d64;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #fff;
      border: 0;
      border-radius: 4px;
      font-size: 14px;
      transition: background 0.2s;
      width: 100%;
      margin-top: 15px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 12px;

  div + div {
    margin-top: 20px;
  }

  .img1 {
    background-image: url("../../assets/Group.svg");
    background-repeat: no-repeat;
    width: 100px;
    height: 55px;
  }

  .img2 {
    background-image: url("../../assets/GYMPOINT.svg");
    background-repeat: no-repeat;
    width: 150px;
    height: 23px;
  }
}

.wrapper {
  background: #ee4d64;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background: #fff;
  width: 360px;
  height: 448px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
